<div class=" row ">
<div class="video-container col-md-8" *ngIf= "sources !== undefined">
<vg-player (onPlayerReady)="onPlayerReady($event)" class= "video">
    <div *ngIf="cuePointData?.title" class="info-layer">
        <h3><a [href]="cuePointData?.href" target="_blank">{{ cuePointData?.title }}</a></h3>
        <p>
            <img [src]="cuePointData?.src" align="left">
            {{ cuePointData?.description }}
            {{ cuePointData?.user_name }}
        </p>
        <p> <mat-icon>thumb_up</mat-icon></p>
    </div>
    <div *ngIf="cuePointData?.title" class="info-layer1">
        <h3><a [href]="cuePointData?.href" target="_blank">{{ cuePointData?.title }}</a></h3>
        <p>
            <img [src]="cuePointData?.src" align="left">
            {{ cuePointData?.description }}
        </p>
    </div>
    <div class="cue-point-manager-layer" *ngIf="showCuePointManager">
        <div class="close fa fa-close" (click)="showCuePointManager = false"></div>

        <div class="cue-list">
            <table class="cue-table">
                <thead>
                <tr class="cue-row">
                    <th>Start Time </th>
                    <th>End Time </th>
                    <th>JSON </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cue of track?.cues" class="cue-row">
                    <td>{{ cue.startTime }} </td>
                    <td>{{ cue.endTime }} </td>
                    <td>{{ json.parse(cue.text).title }}</td>
                    <td class="actions">
                        <button type="button" (click)="onClickEdit(cue)">EditCue</button>
                        <button type="button" (click)="onClickRemove(cue)">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="add-cue">
            <h2>Add a Cue Point dynamically</h2>
            <p>(all fields are required)</p>

            <form name="cueForm"
                  #formRef="ngForm"
                  (submit)="onSubmit(formRef, $event)">
                <div class="form-field">
                    <label for="startTime">Start Time</label>
                    <input type="number" id="startTime" name="startTime" [(ngModel)]="newCue.startTime" required>
                </div>
                <div class="form-field">
                    <label for="endTime">End Time</label>
                    <input type="number" id="endTime" name="endTime" [(ngModel)]="newCue.endTime" required>
                </div>
                <div class="form-field">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" [(ngModel)]="newCue.title" required>
                </div>
                <div class="form-field">
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" [(ngModel)]="newCue.description" required>
                </div>
                <div class="form-field">
                    <label for="src">Image URL</label>
                    <input type="text" id="src" name="src" [(ngModel)]="newCue.src" required>
                </div>
                <div class="form-field">
                    <label for="href">Link</label>
                    <input type="text" id="href" name="href" [(ngModel)]="newCue.href" required>
                </div>

                <button type="submit" [disabled]="!formRef.valid">Add Cue</button>
            </form>
        </div>
    </div>

<!--     <vg-overlay-play></vg-overlay-play> -->

    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-cue-points [vgCuePoints]="metadataTrack.cues"></vg-scrub-bar-cue-points>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <div class="cue-point-manager-button fa fa-thumb-tack" (click)="showCuePointManager = !showCuePointManager"></div>
        <vg-mute></vg-mute>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video #media [vgMedia]="media" id="singleVideo" preload="auto">
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">

        <track src="assets/data/cue-points.vtt" kind="metadata" label="Cue Points" default
               #metadataTrack
               vgCuePoints
               (onEnterCuePoint)="onEnterCuePoint($event)"
               (onExitCuePoint)="onExitCuePoint($event)">
    </video>
</vg-player>
</div>

<div class="col-md-4">
        <h4>Possible Annotations</h4>
        <div class="timeline-container mat-elevation-z8" *ngIf="dataSource">
                <table mat-table [dataSource]="dataSource">
                
                    <!-- Timeline Column -->
                    <ng-container matColumnDef="key_type_id">
                      <th mat-header-cell *matHeaderCellDef > Type Id</th>
                      <td mat-cell *matCellDef="let element"> {{element.key_type_id}} </td>
                    </ng-container>
                
                    <!-- Asset Column -->
                    <ng-container matColumnDef="key_name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.key_name}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="key_description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.key_description}} </td>
                      </ng-container>
                
                      <ng-container matColumnDef="key_shortcut">
                        <th mat-header-cell *matHeaderCellDef> Shortcut </th>
                        <td mat-cell *matCellDef="let element"> {{element.key_shortcut}} </td>
                      </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
    </div>
</div>
<h4>Select Users</h4>
    <mat-form-field>
        <mat-select placeholder="users" multiple [(ngModel)] = "selectedUsers">
          <mat-option *ngFor="let user of users" [value]="user.first_name">{{user.first_name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click) = "getSelectedUserAnnotations(selectedUsers)">Submit</button>
<div class="timeline-container mat-elevation-z8" *ngIf="annotationdataSource">
    <table mat-table [dataSource]="annotationdataSource">
    
        <!-- Timeline Column -->
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef > User</th>
          <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
        </ng-container>
    
        <!-- Asset Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
    
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
    
          <ng-container matColumnDef="vote">
            <th mat-header-cell *matHeaderCellDef> Votes </th>
            <td mat-cell *matCellDef="let element"> {{element.vote}} </td>
          </ng-container>

          <ng-container matColumnDef="annotation_from">
            <th mat-header-cell *matHeaderCellDef> Annotation From </th>
            <td mat-cell *matCellDef="let element"> {{element.asset_annotation_start_time}} </td>
          </ng-container>

          <ng-container matColumnDef="annotation_to">
            <th mat-header-cell *matHeaderCellDef> Annotation To </th>
            <td mat-cell *matCellDef="let element"> {{element.asset_annotation_end_time}} </td>
          </ng-container>

          <ng-container matColumnDef="edit_icon">
                <th mat-header-cell *matHeaderCellDef>Edit</th>
                <td mat-cell *matCellDef="let element">  <mat-icon (click)="openDialog(element)">edit</mat-icon> </td>
              </ng-container>
              <ng-container matColumnDef="delete_icon">
                    <th mat-header-cell *matHeaderCellDef>delete</th>
                    <td mat-cell *matCellDef="let element">  <mat-icon (click)="delete(element)">delete</mat-icon> </td>
                  </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="annotationdisplayColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: annotationdisplayColumns;"></tr>
      </table>
    </div>



