 .sidenav-container {
    list-style-type: none;
    font-family: 'BebasNeue';
    white-space: nowrap;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);

    li {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 12px;
        font-size: 22px;
        position: relative;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        user-select: none;
        &:focus {
            outline: none;
        }

        &:hover {
            background: #eee;
        }

        &.active {
            background: red;
        }
    }      
}

.mat-icon {
    padding: 10px;
}