
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Annotation Tool</a>
      </div>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="player">Video</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="login">login</a></li>
    </ul>
    </div>
  </nav>
  <br> <br><br><br>
  <router-outlet></router-outlet>